
Labs/Lab 1/Datasets/cifar-10-batches-py/batches.meta
Labs/Lab 1/Datasets/cifar-10-batches-py/data_batch_1
Labs/Lab 1/Datasets/cifar-10-batches-py/data_batch_2
Labs/Lab 1/Datasets/cifar-10-batches-py/data_batch_3
Labs/Lab 1/Datasets/cifar-10-batches-py/data_batch_4
Labs/Lab 1/Datasets/cifar-10-batches-py/data_batch_5
Labs/Lab 1/Datasets/cifar-10-batches-py/readme.html
Labs/Lab 1/Datasets/cifar-10-batches-py/test_batch
Labs/Lab 1/Datasets/cifar-10-python.tar.gz
Labs/Lab 2/Datasets/cifar-10-batches-py/batches.meta
Labs/Lab 2/Datasets/cifar-10-batches-py/data_batch_1
Labs/Lab 2/Datasets/cifar-10-batches-py/data_batch_2
Labs/Lab 2/Datasets/cifar-10-batches-py/data_batch_3
Labs/Lab 2/Datasets/cifar-10-batches-py/data_batch_4
Labs/Lab 2/Datasets/cifar-10-batches-py/data_batch_5
Labs/Lab 2/Datasets/cifar-10-batches-py/readme.html
Labs/Lab 2/Datasets/cifar-10-batches-py/test_batch
Labs/Lab 2/Datasets/cifar-10-python.tar.gz
Labs/Lab 3/Datasets/cifar-10-batches-py/batches.meta
Labs/Lab 3/Datasets/cifar-10-batches-py/data_batch_1
Labs/Lab 3/Datasets/cifar-10-batches-py/data_batch_2
Labs/Lab 3/Datasets/cifar-10-batches-py/data_batch_3
Labs/Lab 3/Datasets/cifar-10-batches-py/data_batch_4
Labs/Lab 3/Datasets/cifar-10-batches-py/data_batch_5
Labs/Lab 3/Datasets/cifar-10-batches-py/readme.html
Labs/Lab 3/Datasets/cifar-10-batches-py/test_batch
Labs/Lab 3/Datasets/cifar-10-python.tar.gz
Labs/Lab 3/functions.py
Labs/Lab 3/lab2.py
